@import 'tailwindcss';

@layer base {
  abbr:where([title]) {
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration-skip-ink: none;
    border-bottom: none;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-variant: normal;
  }
}
